.wrapper {
    position: relative;
}

/*styling active nav bar link */
.nav-link.active {
    color: red;
}

/*on hover active links*/
.navLink:hover {
    color: red;
}

/* Left Centered text */
.left-centered {
    position: absolute;
    top: 8px;
    left: 16px;
    margin-top: 120px;
}

/*background image*/
.background-img {
    max-width: 100%;
    height: 80%;
    display: block;
}

/*9Anime text purple*/
.anime-text {
    color: purple;
}

/*image card 1*/
.image-card-1 {
    width: 350px;
    bottom: 150px;
    /*left: -2px;*/
}

/*image card 2*/
.image-card-2 {
    width: 350px;
    bottom: 150px;
    left: 384px;
}

/*image card 3*/
.image-card-3 {
    width: 350px;
    bottom: 150px;
    left: 767px;
}

/*jumbotron card change bg color*/
.jumbotron-card {
    background-color: #cbd5e0;
    border-radius: 4px;
}

/*hr element 1 adjust widht*/
.hr-element-1 {
    width: 94%;
    margin:0 auto;
}

/*hr element 2 adjust width*/
.hr-element-2 {
    margin: 0rem 10rem 0rem 10rem;
}

.signups {
    position: relative;
    /*top: 50%;*/
    transform: translateY(-50%);
    transition: 0.2s;
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: #000;
}

/*styling the links signup and signin on home page to hover*/
.signup {
    position: relative;
    /*top: 50%;*/
    transform: translateY(-50%);
    transition: 0.2s;
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: #000;
}

.signup:hover {
    padding-bottom: 20px;
}

.signin {
    position: relative;
    /*top: 20%;*/
    transform: translateY(-50%);
    transition: 0.2s;
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: #000;
}

.signin:hover {
    padding-bottom: 20px;
}


/*Styling the footer*/
.text-small {
    font-size: 0.9rem;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover, a:focus {
    text-decoration: none;
}

footer {
    background: #212529;
}
/*footer styles end here*/

/*styling the card to display image on hover*/
.card:hover .card-img-overlay{
    display: block;
    opacity: 0.4;
}
.card-img-overlay{
    height: 100%;
    display: none;
}
/*styling the card end here*/

/*styling the input text field*/
.input-form {
    background: transparent;
    border: none;
    /*border-bottom: 1px solid #000000;*/
    border: none transparent;
    outline: none;
    font-family: "Times New Roman", SansSerif;
}

/*style input form laceholder*/
.input-placeholder {
    font-size: 40px
}

/*style btn link*/
.btn-link {
    text-decoration: none;
}

/*style h4 class*/
.h2-class {
    color: gray;
}

/*style for anime name*/
.anime_name {
    font-size: 20px;
}

/*styling label size*/
.label-size {
    font-size: 18px;
}

/*stling asterick sup*/
sup {
    color: red;
}

/*styling the textarea*/
.textarea {
    border: none;
    outline: none;
}

/*styling image for blog show*/
.image_avatar {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

/* Bottom left text on home image*/
.bottom-left {
    position: absolute;
    top: 8px;
    right: 16px;
    color: white;
}

/*Home image hover*/
.image_hover {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 2s ease;
    backface-visibility: hidden;
}
.image_hover:hover {
    transform: scale(1.1);
}

/*.overflow_class {*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/

.image_container:hover .image_hover {
    opacity: 0.8;
}

/*Anime blog showall css*/
.image_card_blog {
    box-shadow: 5px 5px 10px rebeccapurple;
    overflow: hidden;
}

.image_anime_blog {
    transition: 1.2s ease-out;
}

.image_card_blog:hover .image_anime_blog {
    transform: scale(1.1) rotate(-3deg);
    transition: 1.2s ease-out;
}

span,
p,
label {
    font-family: "Times New Roman";
    color: purple;
}

.divHover {
    padding-top: 10px;
    max-height: 300px;
    overflow: hidden;
}

.divHover:hover {
    overflow-y: auto;
    overflow-x: hidden;
}

/*custom file uplad button*/
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
